<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @package		com_compatibility
  ~ @copyright	Copyright (c)2017-2021 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license		GNU General Public License version 3 or later
  -->

<config addfieldprefix="Akeeba\Component\Compatibility\Administrator\Field">
    <fieldset
            name="software"
            label="COM_COMPATIBILITY_CONFIG_SOFTWARE_LABEL"
            description="COM_COMPATIBILITY_CONFIG_SOFTWARE_DESC"
    >
        <field
                name="extensions"
                type="subform"
                label="COM_COMPATIBILITY_CONFIG_EXTENSIONS_LABEL"
                description="COM_COMPATIBILITY_CONFIG_EXTENSIONS_DESC"
                min="1"
                multiple="true"
                buttons="add,remove,move"
                layout="joomla.form.field.subform.repeatable"
                groupByFieldset="false"
        >
            <form>
                <field
                        name="category"
                        type="sql"
                        label="COM_COMPATIBILITY_CONFIG_CATEGORY_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_CATEGORY_DESC"
                        default=""
                        query="SELECT `id`, `title` FROM `#__ars_categories` WHERE `type` = 'normal' ORDER BY `title` ASC"
                        key_field="id"
                        value_field="title"
                />

                <field
                        name="title"
                        type="text"
                        label="COM_COMPATIBILITY_CONFIG_TITLE_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_TITLE_DESC"
                        default=""
                />

                <field
                        name="icon"
                        type="text"
                        label="COM_COMPATIBILITY_CONFIG_ICON_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_ICON_DESC"
                        default="aklogo-company-logo"
                />
            </form>
        </field>

        <field
                name="cms"
                type="subform"
                label="COM_COMPATIBILITY_CONFIG_CMS_LABEL"
                description="COM_COMPATIBILITY_CONFIG_CMS_DESC"
                min="1"
                multiple="true"
                buttons="add,remove,move"
                layout="joomla.form.field.subform.repeatable"
                groupByFieldset="false"
        >
            <form addfieldpath="/administrator/components/com_compatiblity/fields">
                <field
                        type="list"
                        name="type"
                        label="COM_COMPATIBILITY_CONFIG_TYPE_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_TYPE_DESC"
                        default="joomla">
                    <option value="joomla">COM_COMPATIBILITY_CONFIG_TYPE_JOOMLA</option>
                    <option value="wp">COM_COMPATIBILITY_CONFIG_TYPE_WORDPRESS</option>
                    <option value="cp">COM_COMPATIBILITY_CONFIG_TYPE_CLASSICPRESS</option>
                </field>

                <field
                        type="text"
                        name="version"
                        label="COM_COMPATIBILITY_CONFIG_VERSION_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_VERSION_DESC"
                        default=""
                />

                <field
                        type="text"
                        name="min"
                        label="COM_COMPATIBILITY_CONFIG_MIN_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_MIN_DESC"
                        default=""
                />

                <field
                        type="text"
                        name="max"
                        label="COM_COMPATIBILITY_CONFIG_MAX_LABEL"
                        _description="COM_COMPATIBILITY_CONFIG_MAX_DESC"
                        default=""
                />
            </form>
        </field>

        <field
                name="exclude_php"
                type="sql"
                label="COM_COMPATIBILITY_CONFIG_EXCLUDE_PHP_LABEL"
                description="COM_COMPATIBILITY_CONFIG_EXCLUDE_PHP_DESC"
                default=""
                layout="joomla.form.field.list-fancy-select"
                sql_select="id, title"
                sql_from="#__ars_environments"
                sql_where="xmltitle LIKE 'php/%'"
                key_field="id"
                value_field="title"
                multiple="multiple"
        />
    </fieldset>

    <fieldset
            name="intro"
            label="COM_COMPATIBILITY_CONFIG_INTRO_LABEL"
            description="COM_COMPATIBILITY_CONFIG_INTRO_DESC"
    >
        <field
                type="list"
                layout="joomla.form.field.radio.switcher"
                name="show_intro"
                label="COM_COMPATIBILITY_CONFIG_SHOW_INTRO_LABEL"
                description="COM_COMPATIBILITY_CONFIG_SHOW_INTRO_DESC"
                default="1"
                class="btn-group btn-yesno"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="intro_text"
                type="editor"
                buttons="false"
                label="COM_COMPATIBILITY_CONFIG_INTRO_TEXT_LABEL"
                description="COM_COMPATIBILITY_CONFIG_INTRO_TEXT_DESC"
                showon="show_intro:1"
        />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_compatibility"
                section="component"/>
    </fieldset>
</config>