<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @package		com_compatibility
  ~ @copyright	Copyright (c)2017-2020 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license		GNU General Public License version 3 or later
  -->

<config>
	<fieldset
			name="software"
			label="COM_COMPATIBILITY_CONFIG_SOFTWARE_LABEL"
			description="COM_COMPATIBILITY_CONFIG_SOFTWARE_DESC"
	>
		<field
			name="include"
			type="sql"
			label="COM_COMPATIBILITY_CONFIG_INCLUDE_LABEL"
			description="COM_COMPATIBILITY_CONFIG_INCLUDE_DESC"
			default=""
			query="SELECT `id`, `title` FROM `#__ars_categories`"
			key_field="id"
			value_field="title"
			multiple="multiple"
			/>
		<field
			name="exclude_php"
			type="sql"
			label="COM_COMPATIBILITY_CONFIG_EXCLUDE_PHP_LABEL"
			description="COM_COMPATIBILITY_CONFIG_EXCLUDE_PHP_DESC"
			default=""
			query="SELECT `id`, `title` FROM `#__ars_environments` WHERE `xmltitle` LIKE 'php/%'"
			key_field="id"
			value_field="title"
			multiple="multiple"
			/>

		<field name="load_fef" type="list" default="3"
			   label="COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF"
			   description="COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_DESC">
			<option value="0">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_NEVER</option>
			<option value="1">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_FRONTEND</option>
			<option value="2">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_BACKEND</option>
			<option value="3">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_BOTH</option>
		</field>

		<field name="fef_reset" type="list" default="3"
			   label="COM_COMPATIBILITY_CONFIG_BACKEND_FEF_RESET"
			   description="COM_COMPATIBILITY_CONFIG_BACKEND_FEF_RESET_DESC">
			<option value="0">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_NEVER</option>
			<option value="1">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_FRONTEND</option>
			<option value="2">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_BACKEND</option>
			<option value="3">COM_COMPATIBILITY_CONFIG_BACKEND_LOAD_FEF_BOTH</option>
		</field>

		<field name="dark_mode_backend" type="radio" default="-1"
			   label="COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_BACKEND_LABEL"
			   description="COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_BACKEND_DESC"
			   class="switcher btn-group">
			<option value="-1">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_AUTO</option>
			<option value="0">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_NEVER</option>
			<option value="1">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_ALWAYS</option>
		</field>

		<field name="dark_mode_frontend" type="radio" default="-1"
			   label="COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_FRONTEND_LABEL"
			   description="COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_FRONTEND_DESC"
			   class="switcher btn-group">
			<option value="-1">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_AUTO</option>
			<option value="0">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_NEVER</option>
			<option value="1">COM_COMPATIBILITY_CONFIG_BACKEND_DARKMODE_ALWAYS</option>
		</field>
	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				filter="rules"
				component="com_compatibility"
				section="component"/>
	</fieldset>
</config>